<div class="sticky-container animated fadeIn fast">
    <ul class="sticky">
        <li class="social-side">
            <img src="../../../../assets/img/png/001-facebook.png" width="32" height="32">
            <p><a href="" class="text-white" target="_blank">Siguenos en<br>Facebook</a></p>
        </li>
        <li>
            <img src="../../../../assets/img/png/002-whatsapp.png" width="32" height="32">

            <p><a href="https://twitter.com/noprog" class="text-white" target="_blank">Contactanos por<br>WhatsApp</a></p>
        </li>
        <li>
            <img src="../../../../assets/img/png/003-instagram.png" class="text-white" width="32" height="32">

            <p><a href="https://plus.google.com/programacionnet" class="text-white" target="_blank">Siguenos en<br>Instagram</a></p>
        </li>
        <li>
            <img src="../../../../assets/img/png/004-gmail.png" width="32" height="32">
            <p><a href="_blank" class="text-white" target="_blank">Escribenos por<br>Gmail</a></p>
        </li>
    </ul>
</div>