<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top animated fadeIn fast">
    <a class="navbar-brand" routerLink="inicio" class="nav-foot-logo">
        <img src="../../../../assets/img/logos/logo-fasttech-shared.png" width="50" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="inicio">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="about">Sobre nosotros</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="products">Servicios</a>
            </li>
        </ul>
    </div>
</nav>