<div class="row animate__animated animate__backInRight" *ngIf="posts">
    <div class="col">
        <app-slideshow [posts]="posts"></app-slideshow>
    </div>
</div>

<div class="row content animate__animated animate__backInLeft" [ngStyle]="{'background': 'orange'}">
    <div class="col-sm mt-5 mb-5 text-center">

    </div>
    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center">
        <img src="../../../../assets/img/logos/logo-fasttech-inicio.png" alt="Logo de fasttech" width="200">
    </div>
    <div class="col-sm mt-5 mb-5 ml-3 mr-3 text-white text-center">
        <h4>
            Fasttech, la nueva inserción al mundo digital
        </h4>
        <p>
            En Fasttech como profesionales altamente capacitados nos sentimos obligados a asesorar y a guiar a los emprendedores y empresarios a incrustar sus negocios y servicios en el mundo digital, no lo dudes contactanos por nuestras redes sociales a la derecha
        </p>
    </div>
    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center">

    </div>
</div>




<div class="row content animate__animated animate__backInRight" [ngStyle]="{'background': 'white'}">

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center">

    </div>

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-center">
        <h4>Diseño responsive</h4>
        <p>
            El diseño responsive en estos tiempos de apogeo de sitios y paginas web, es un paradigma de diseño, que es completamente necesario si nos enfocamos en usuarios que tendran acceso hasta desde su smartphone
        </p>
    </div>

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center text-white text-center">
        <img src="../../../../assets/img/responsive.jpg" alt="Logo de fasttech" width="400">
    </div>

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center">

    </div>

</div>

<div class="row content animate__animated animate__backInLeft" [ngStyle]="{'background': 'red'}">

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center">

    </div>

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center text-white text-center">
        <img src="../../../../assets/img/movile.jpg" alt="Logo de fasttech" width="400">
    </div>

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center text-white text-center">
        <h4>Últimas tecnologias</h4>
        <p>
            La tecnologia es una ventaja que hace mas facil que nuestra marca sea reconocida a nivel mundial, por esta razón nos preocupa que se haga conocida de una forma impecable y contamos con los medios para que lo consigas
        </p>
    </div>

    <div class="col-sm mt-5 mb-5 ml-2 mr-2 text-white text-center">

    </div>

</div>