<footer>
    <div class="row animated fadeIn fast">

        <div class="col-sm text-center mt-5 mb-3 ml-4 text-white">
            <h6 class="text-white">POWERED BY FASTTTECH</h6>
        </div>

        <div class="col-sm mt-5 mb-3 ml-4 text-white">

        </div>

        <div class="col-sm mt-5 mb-3 ml-4 text-white">

        </div>

        <div class="col-sm text-center mt-5 mb-3 ml-4 text-white">
            <a routerLink="inicio">
                <img src="../../../../assets/img/logos/logo-fasttech-shared.png" alt="logo de fasttech" width="200">
            </a>
        </div>


    </div>
</footer>